.container__cabecalho {
    height: 100vh;
    background-image: url("../imagens/banner.png");
    background-size: cover;
    color: var(--cor-principal);
    font-family: var(--fonte-principal);

}

.container__cabecalho__menu__lista {
    display: flex;
    justify-content: flex-end;
    padding: 2rem 4rem 0 0;
    gap: 2rem;
    
}

.container__cabecalho__menu__lista a {
    color: var(--cor-principal);
    list-style-type: none;
    text-decoration: none;
    font-size: 1.3rem;
    font-style: normal;
    opacity: 0.7;

}

.container__cabecalho__menu__lista a:hover {
    text-decoration: underline;

}

.container__cabecalho__titulo {
    font-size: 5rem;
    font-weight: bold;
    padding: 4rem 0 2rem 10.3rem;
}

.container__cabecalho__busca {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    padding: 1rem 10.3rem 0 10.3rem;
    
    
}

.container__cabecalho__busca input {
    height: 3rem;
    background: #ffffff66;
    border: none;
    padding: 0.8rem 0;
    border-radius: 0.5rem;
    outline: none;
}

h3 {
    font-size: 44px;
    font-weight: bold;
}